## Etapa 2: Busca dos tweets coletados

Após a coleta dos Tweets, vamos trazer esses dados para o formato CSV e assim trabalharmos localmente. Para isso vamos usar a biblioteca Pandas. Neste jupyter notebook não faremos nenhum tratamento do texto, deixaremos isso para um segundo momento.

In [1]:
import pypyodbc as podbc
import pandas as pd

In [1]:
def conexao_sql():
    conexao = podbc.connect("Driver=ODBC Driver 17 for SQL Server;Server=posml.database.windows.net,1433;Database=tweets;uid=cloudadmin;pwd=senha")
    return conexao

In [5]:
# Retornando a conexão SQL
conn = conexao_sql()

In [9]:
# Testando a consutal SQL
sql = "SELECT * FROM Tweets "

In [11]:
# Transformando a consulta em um dataset pandas
df = pd.read_sql(sql, conn)
df.head()

,id_str,in_reply_to_status_id_str,in_reply_to_screen_name,full_text,sentimento
0,1029818380390490113,1029492806556037120,santander_br,@santander_br Isso. Qualquer operacao que eu t...,None
1,1077009782362517505,1077002120229019650,santander_br,@santander_br a atendente pagou pela segunda v...,None
2,1088105568169017344,1050372894696583173,Bancointer,@Bancointer Pode traZer o meus,None
3,1092138777634619392,1092066736009080833,santander_br,@santander_br @Estadao Não estou conseguindo g...,None
4,1093680499359469570,1093679986307936256,itau,@itau Mas foi... e o setup foi bem fácil! Muit...,None

In [15]:
# verificando se todas as empresas monitoradas tem registros
df['in_reply_to_screen_name'].value_counts()

NetflixBrasil      42102
PrimeVideoBR       15652
globoplay          11736
nubank              8426
submarino           7537
americanascom       6803
pontofrio           5584
Bancointer          4667
CasasBahia          4578
CocaCola_Br         4476
Bradesco            4019
DisneyPlusBR        2846
santander_br        2827
C6Bank              2615
BancodoBrasil       2285
itau                2051
timeneon            1840
PepsiBr             1056
amazonBR             628
lojasamericanas      595
brkindle              52
Name: in_reply_to_screen_name, dtype: int64

In [17]:
# Salvando o dataset em CSV
df.to_csv('dataset.csv')

print('Arquivo Gravado com Sucesso')

Arquivo Gravado com Sucesso

In [26]:
# Validando a importação do CSV
dataset = pd.read_csv('dataset.csv', index_col=0)
dataset.head()

,id_str,in_reply_to_status_id_str,in_reply_to_screen_name,full_text,sentimento
0,1029818380390490113,1029492806556037120,santander_br,@santander_br Isso. Qualquer operacao que eu t...,NaN
1,1077009782362517505,1077002120229019650,santander_br,@santander_br a atendente pagou pela segunda v...,NaN
2,1088105568169017344,1050372894696583173,Bancointer,@Bancointer Pode traZer o meus,NaN
3,1092138777634619392,1092066736009080833,santander_br,@santander_br @Estadao Não estou conseguindo g...,NaN
4,1093680499359469570,1093679986307936256,itau,@itau Mas foi... e o setup foi bem fácil! Muit...,NaN